<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="ContainerName" value="wawsapplogblobuair-newdb-test"/>
    <add key ="BlobDirectory" value="uair-newdb-test"/>
    <add key = "DestDirectory" value="D:/azurelogs"/>
  </appSettings>

  <connectionStrings>
    <add name="StorageConnectionStringV3Test"
      connectionString="DefaultEndpointsProtocol=https;AccountName=uairstorageaccountv3test;AccountKey=rPFoasg4646lxkIE6eLPiLAPhZYeFrwNnFn/opPCEwiQjyPB2KItDJbaLYElcDVWnJobPp1PkyYgqLdFGrGIKA==" />

    <add name="StorageConnectionStringV3"
          connectionString="DefaultEndpointsProtocol=https;AccountName=uairstorageaccountv3;AccountKey=4mLx/HNdQVNkVk9AZRZhvPJa0kfZ3mZ5/etlZlo/BKNw/f/Fuh4IYi2t1VMKOfnT2dE6zaA2EzeHmNfUcF95iA==" />

    <add name="StorageConnectionStringBingTest2"
			connectionString="DefaultEndpointsProtocol=https;AccountName=bingpredictiontest2;AccountKey=etqm4HdejowursuIRD0hkeBJ+4ZnhNBQfHgXuczFIyUwES8FRR1MpWB1OVxQw/wyF3OWr4fxNoWtOgCieIHikg==" />

    <add name="StorageConnectionStringBingProd"
			connectionString="DefaultEndpointsProtocol=https;AccountName=uairprediction;AccountKey=S+G63X3VasLhN32uFGTWsPS3Y8cCC++M/bMjA8Ze01QXfiDI6DPggrDnXQ0mkYqr8nOT2JAAcifj7XhxLnVGpg==" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>